* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}